@use '../../styles/global' as * ;
@use '../../styles/mixins' as *;
@use '../../styles/typography' as *;
@use '../../styles/variables' as *;

.hero{
    width: 100%;
    padding: 1rem;
   

    &__container{
        width: 100%;
        margin-top: 5rem;
       
        @include tablet{
            @include flex-center(row-reverse);
            justify-content: space-between;
        }
       
    }
    &__image_wrap{
        width: 70%;
        padding-top: 2rem;
        @include flex-center(column);
        align-items: center;
        margin: 0 auto;
        @include tablet{
            width: 90%;
            margin-right: 2rem;
            padding-top: 5rem;
         }

    }
    &__frame{
        width: 90%;
        margin-bottom: 2rem;

         @include tablet{
            width: 40%;
         }
    }
    &__image{
        width: 100%;
    }
    &__intro{
        padding-bottom: 2rem;
        @include tablet{
            width: 60%;

        }
    }
    &__title{
        text-align: center;
    }
    &__connect{
        // height: 250px;
        display: none;

        @include tablet{
            display: flex;
            margin-left: 1rem;
            @include flex-center(column);
            justify-content: space-between;
            align-items: center;
        }
        
    }
    &__list{
        height: 150px;
        @include flex-center(column);
        justify-content: space-between;
        margin-bottom: 1rem;
    }
    &__item{
        list-style: none;
        background-color: $portfolio-black;
        border-radius: 50%;
        height: 30px;
        padding: 0.5rem;
    }
    &__icon{
        color: $primary-color;
    }
    &__btn{
        width: 50%;
        padding: 10px 15px 10px 15px;
        background-color: $primary-color;
        border: 2px solid $primary-color;
        color: $portfolio-black;
        cursor: pointer;
        box-shadow: 0 10px 20px rgba(213, 243, 254, 0.4), 
            0 4px 6px rgba(0, 0, 0, 0.1);
        margin-top: 1rem;
        transition: all 0.3s ease;


        @include tablet{
            width: 30%;
        }
        &:hover{
            transform: translateY(-5px);
            box-shadow: 0 3px $portfolio-black;
        }
        &:active{
            transform: translateY(2px);
            box-shadow: 0 3px $portfolio-black;
        }
    }
    &__line{
        height: 6.25rem;
        &_img{
            height: 100%;
        }
    }
  
    
}
.hero__span{
    text-decoration: wavy;
    color: $green-color;
}

.connectMob{
    width: 100%;
    @include flex-center(row);
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;

    @include tablet{
        display:  none;
    }

    &__line{
        width:6.25rem;

        &_img{
            width: 100%;
        }
    }
    &__list{
        @include flex-center(row);
       
    }
    &__item{
        list-style: none;
        background-color: $portfolio-black;
        border-radius: 50%;
        width: 30px;
        padding: 0.5rem;
    }
    &__image{
        width: 80px;
    }
}
