@use './variables' as *;

@mixin tablet {
    @media screen and (min-width: 700px){
     @content;
    }
    
 }
 
 @mixin desktop {
     @media screen and (min-width: 1280px) {
       @content;
     }
 }
 
 @mixin flex-center($direction){
   display: flex;
   flex-direction: $direction;
 }
 @mixin box-shadow{
  box-shadow: rgba(0, 34, 91, 0.11) 0px 2px 10px 0px;
}
@mixin logo {
  width: 7.5rem;
  text-decoration: none;
  padding: 1rem;
}
@mixin body-padding-mob{
  padding-top: 1rem;
  padding-bottom: 1rem;
}